In [31]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [3]:
data

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [4]:
## Q1. What's the version of Pandas that you installed?
pd.__version__

'2.3.1'

In [14]:
# Number of records (rows)
num_records = data.shape[0]
num_records

9704

In [5]:
## Q2.How many records are in the dataset? 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

### There are 9704 records

In [6]:
## Q3. How many fuel types are presented in the dataset?
data['fuel_type'].nunique()

2

In [7]:
## Q4. How many columns in the dataset have missing values?
data.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### 4 columns have missing values

In [8]:
## Q5. What's the maximum fuel efficiency of cars from Asia?
data.query('origin=="Asia"')["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

In [16]:
## Q6(1) Find te median value of horsepower column in the dataset
median_before = data['horsepower'].median()
print("Median horsepower (before filling):", median_before)

Median horsepower (before filling): 149.0

In [17]:
## Q6(2) Calculate the most frequent value of horsepower column in the dataset
most_freq = data['horsepower'].mode()[0]
print("Most frequent horsepower value:", most_freq)

Most frequent horsepower value: 152.0

In [18]:
## Q6(3) Fill missing horsepower values with the most frequent values
data['horsepower'] = data['horsepower'].fillna(most_freq)

In [20]:
## Q6(4) Calculate median again
median_after = data['horsepower'].median()
print("Median horsepower (after filling):", median_after)

Median horsepower (after filling): 152.0

In [21]:
# Q6(5). Compare
if median_before == median_after:
    print("The median did NOT change.")
else:
    print("The median CHANGED.")

The median CHANGED.

In [27]:
# 1–3: select Asian cars, choose columns, take first 7
asia_first7 = data[data['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)
asia_first7

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [28]:
# X: underlying NumPy array
X = asia_first7.values

In [29]:
# Compute X^T X
XTX = X.T.dot(X)

In [32]:
# Try to invert XTX, fall back to pseudoinverse if singular
try:
    XTX_inv = np.linalg.inv(XTX)
    inv_type = "inverse"
except np.linalg.LinAlgError:
    XTX_inv = np.linalg.pinv(XTX)
    inv_type = "pseudoinverse"

In [33]:
# given y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [34]:
# w = (XTX_inv) * X.T * y
w = XTX_inv.dot(X.T).dot(y)

In [35]:
# sum of elements of w
w_sum = w.sum()

In [36]:
# Print results
print("asia_first7:\n", asia_first7)
print("\nX shape:", X.shape)
print("\nX =\n", X)
print("\nXTX =\n", XTX)
print("\nUsed:", inv_type)
print("\nXTX_inv =\n", XTX_inv)
print("\ny =", y)
print("\nw =", w)
print("\nsum(w) =", w_sum)

asia_first7:
     vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

X shape: (7, 2)

X =
 [[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

XTX =
 [[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

Used: inverse

XTX_inv =
 [[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

y = [1100 1300  800  900 1000 1100 1200]

w = [0.01386421 0.5049067 ]

sum(w) = 0.5187709081074016